pkgbase = vscodium
	pkgdesc = Free/Libre Open Source Software Binaries of VSCode
	pkgver = 1.57.0
	pkgrel = 1
	url = https://vscodium.com
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = git
	makedepends = gulp
	makedepends = npm
	makedepends = python2
	makedepends = yarn
	makedepends = nodejs-lts-erbium
	makedepends = jq
	depends = electron
	depends = libsecret
	depends = libx11
	depends = libxkbfile
	depends = ripgrep
	optdepends = bash-completion: Bash completions
	optdepends = zsh-completions: ZSH completitons
	optdepends = x11-ssh-askpass: SSH authentication
	provides = code
	conflicts = code
	source = git+https://github.com/VSCodium/vscodium.git#tag=1.57.0
	source = git+https://github.com/microsoft/vscode.git#tag=1.57.0
	source = code.js
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 44c252c08fe9c76dc0351c88bc76c3bcf5e32f5c2286cc82cd2a52cca0217fbc

pkgname = vscodium
